/*Style sheet for CSS code*/


body {

    background-color: rgb(210, 249, 230);

}

.art-header {
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 1em;
    background-color: rgb(255, 255, 255);

}

.image-within {

    float: right;

}


.drop-button {

    display: inline-block;
    text-decoration: none;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-bottom: 1.5em;
    padding-right: 1em;
    color: rgb(0, 0, 0);
    background-color: rgb(250, 250, 209);

}

li a, .drop-button {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0;

}

.drop-content {
    display: none;
    position: absolute;
    border: 1px solid;
    margin: 2%;
    background-color: rgb(250, 250, 209);
    z-index: 1;


}

li.drop-menu {

    display: inline-block;
}

li a:hover, .drop-menu:hover, .drop-button:hover {

    color: black;
    margin: 0;
    background-color: rgb(209, 236, 250);

}

.drop-menu:hover .drop-content:hover {

    display:block;

}
